Repository ksivaman/TransformerEngine-1: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, clang-format, cpplint

pylint:
  name: Check python code style
  entry: python -m pylint
  language: system
  args:
  - --rcfile=./pylintrc

clang-format:
  name: Format c/c++/cuda code
  entry: clang-format -i
  language: system

cpplint:
  name: Check c/c++/cuda code style
  entry: cpplint
  language: system

Fix from resolve
  transformer_engine/common/gemm/cublaslt_grouped_gemm.cu
Due: clang-format, cpplint

Pad grouped scale inv for contiguous case
  transformer_engine/pytorch/ops/_common.py
  transformer_engine/pytorch/ops/fused/backward_grouped_mlp.py
  transformer_engine/pytorch/ops/fused/forward_grouped_mlp.py
Due: pylint

rm epel-release install
  build_tools/wheel_utils/Dockerfile.aarch
  build_tools/wheel_utils/Dockerfile.x86
Due: none

Fix grouped GEMM: NVFP4 columnwise transa=N + relax MXFP8 alignment for swizzle tests
  tests/cpp/operator/test_grouped_gemm.cu
  tests/cpp/operator/test_swizzle.cu
  tests/cpp/test_common.cu
  tests/cpp/test_common.h
  transformer_engine/common/gemm/cublaslt_grouped_gemm.cu
Due: clang-format, cpplint

Clarify swap_dims comment in build_grouped_gemm_multi_inputA_args
  transformer_engine/common/gemm/cublaslt_grouped_gemm.cu
Due: clang-format, cpplint

add nvfp4 changes
  transformer_engine/pytorch/ops/_common.py
  transformer_engine/pytorch/ops/fused/backward_grouped_mlp.py
  transformer_engine/pytorch/ops/fused/forward_grouped_mlp.py
Due: pylint

format/lint
  transformer_engine/common/gemm/cublaslt_grouped_gemm.cu
  transformer_engine/common/transformer_engine.cpp
  transformer_engine/pytorch/csrc/extensions/gemm.cpp
  transformer_engine/pytorch/ops/fused/backward_grouped_mlp.py
  transformer_engine/pytorch/ops/fused/forward_grouped_mlp.py
Due: pylint, clang-format, cpplint

Initial setup
  tests/pytorch/test_fusible_ops.py
  transformer_engine/pytorch/ops/_common.py
  transformer_engine/pytorch/ops/basic/__init__.py
  transformer_engine/pytorch/ops/basic/srelu.py
  transformer_engine/pytorch/ops/fused/__init__.py
  transformer_engine/pytorch/ops/fused/backward_grouped_mlp.py
  transformer_engine/pytorch/ops/fused/forward_grouped_mlp.py
Due: pylint

SRelu gemm fusion via cuteDSL
  tests/pytorch/test_fusible_ops.py
  transformer_engine/pytorch/ops/_common.py
  transformer_engine/pytorch/ops/basic/__init__.py
  transformer_engine/pytorch/ops/basic/swiglu.py
  transformer_engine/pytorch/ops/fused/__init__.py
  transformer_engine/pytorch/ops/fused/backward_grouped_mlp.py
  transformer_engine/pytorch/ops/fused/forward_grouped_mlp.py
Due: pylint

Fix multi-param test
  transformer_engine/pytorch/ops/fused/backward_grouped_mlp.py
  transformer_engine/pytorch/ops/fused/forward_grouped_mlp.py
Due: pylint

fix tests
  tests/pytorch/test_fusible_ops.py
  transformer_engine/pytorch/ops/_common.py
  transformer_engine/pytorch/ops/fused/backward_grouped_mlp.py
  transformer_engine/pytorch/ops/fused/forward_grouped_mlp.py
Due: pylint

interleaving utils
  transformer_engine/pytorch/ops/basic/__init__.py
  transformer_engine/pytorch/ops/basic/swiglu.py
Due: pylint

Refactor LinearAttention into variant-dispatch API
  docs/api/pytorch.rst
  tests/pytorch/attention/test_gdn_attention.py
  transformer_engine/pytorch/__init__.py
  transformer_engine/pytorch/attention/__init__.py
  transformer_engine/pytorch/attention/dot_product_attention/dot_product_attention.py
  transformer_engine/pytorch/attention/linear_attention/__init__.py
  transformer_engine/pytorch/attention/linear_attention/gdn.py
  transformer_engine/pytorch/attention/linear_attention/linear_attention.py
Due: pylint

Path conditions:
  pylint: any of: ^transformer_engine/ and \.py$
  clang-format: any of: ^transformer_engine.*\.(c|cc|cxx|cpp|cu|cuh|h|hpp)$
  cpplint: any of: ^transformer_engine.*\.(c|cc|cxx|cpp|cu|cuh|h|hpp)$
