Repository ksivaman/TransformerEngine-1: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, clang-format, cpplint

.pre-commit-config.yaml:

# Copyright (c) 2022, NVIDIA CORPORATION & AFFILIATES. All rights reserved.
#
# See LICENSE for license information.

default_language_version:
  python: python3

ci:
  autofix_prs: true
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit suggestions'
  autoupdate_schedule: quarterly
  skip: [pylint, clang-format, cpplint]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/psf/black
    rev: 19.10b0
    hooks:
      - id: black
        name: Format python code
        files: ^transformer_engine/
        types: [python]
        args: [--line-length=100]
        additional_dependencies: ['click==8.0.2']

  - repo: local
    hooks:
      - id: pylint
        name: Check python code style
        entry: python -m pylint
        language: system
        files: ^transformer_engine/
        types: [python]
        args: ["--rcfile=./pylintrc"]

  - repo: local
    hooks:
      - id: clang-format
        name: Format c/c++/cuda code
        entry: clang-format -i
        language: system
        files: ^transformer_engine.*\.(c|cc|cxx|cpp|cu|cuh|h|hpp)$

  - repo: local
    hooks:
      - id: cpplint
        name: Check c/c++/cuda code style
        entry: cpplint
        language: system
        files: ^transformer_engine.*\.(c|cc|cxx|cpp|cu|cuh|h|hpp)$

Fixes
  transformer_engine/pytorch/module/layernorm_linear.py
  transformer_engine/pytorch/module/layernorm_mlp.py
  transformer_engine/pytorch/module/linear.py
Due: pylint

First pass through refactor [wip]
  transformer_engine/common/CMakeLists.txt
  transformer_engine/common/include/transformer_engine/multi_tensor.h
  transformer_engine/common/multi_tensor/adam.cu
  transformer_engine/common/multi_tensor/compute_scale.cu
  transformer_engine/common/multi_tensor/l2norm.cu
  transformer_engine/common/multi_tensor/multi_tensor_apply.cuh
  transformer_engine/common/multi_tensor/scale.cu
  transformer_engine/common/multi_tensor/sgd.cu
  transformer_engine/pytorch/csrc/common.h
  transformer_engine/pytorch/csrc/extensions/multi_tensor/adam.cpp
  transformer_engine/pytorch/csrc/extensions/multi_tensor/compute_scale.cpp
  transformer_engine/pytorch/csrc/extensions/multi_tensor/l2norm.cpp
  transformer_engine/pytorch/csrc/extensions/multi_tensor/scale.cpp
  transformer_engine/pytorch/csrc/extensions/multi_tensor/sgd.cpp
  transformer_engine/pytorch/csrc/type_shim.h
Due: clang-format, cpplint

Full refactor (untested)
  transformer_engine/common/include/transformer_engine/multi_tensor.h
  transformer_engine/common/multi_tensor/adam.cu
  transformer_engine/common/multi_tensor/compute_scale.cu
  transformer_engine/common/multi_tensor/l2norm.cu
  transformer_engine/common/multi_tensor/multi_tensor_apply.cuh
  transformer_engine/common/multi_tensor/scale.cu
  transformer_engine/common/multi_tensor/sgd.cu
  transformer_engine/pytorch/csrc/common.cpp
  transformer_engine/pytorch/csrc/common.h
  transformer_engine/pytorch/csrc/extensions/multi_tensor/adam.cpp
  transformer_engine/pytorch/csrc/extensions/multi_tensor/compute_scale.cpp
  transformer_engine/pytorch/csrc/extensions/multi_tensor/l2norm.cpp
  transformer_engine/pytorch/csrc/extensions/multi_tensor/scale.cpp
  transformer_engine/pytorch/csrc/extensions/multi_tensor/sgd.cpp
Due: clang-format, cpplint

format
  transformer_engine/common/include/transformer_engine/multi_tensor.h
  transformer_engine/common/multi_tensor/adam.cu
  transformer_engine/common/multi_tensor/compute_scale.cu
  transformer_engine/common/multi_tensor/l2norm.cu
  transformer_engine/common/multi_tensor/multi_tensor_apply.cuh
  transformer_engine/common/multi_tensor/scale.cu
  transformer_engine/common/multi_tensor/sgd.cu
  transformer_engine/pytorch/csrc/common.cpp
  transformer_engine/pytorch/csrc/common.h
  transformer_engine/pytorch/csrc/extensions/multi_tensor/adam.cpp
  transformer_engine/pytorch/csrc/extensions/multi_tensor/compute_scale.cpp
  transformer_engine/pytorch/csrc/extensions/multi_tensor/l2norm.cpp
  transformer_engine/pytorch/csrc/extensions/multi_tensor/scale.cpp
  transformer_engine/pytorch/csrc/extensions/multi_tensor/sgd.cpp
Due: clang-format, cpplint

use reinterpret cast
  transformer_engine/common/multi_tensor/sgd.cu
Due: clang-format, cpplint

First pass at compilation fixes
  transformer_engine/common/CMakeLists.txt
  transformer_engine/common/include/transformer_engine/multi_tensor.h
  transformer_engine/common/multi_tensor/adam.cu
  transformer_engine/common/multi_tensor/compute_scale.cu
  transformer_engine/common/multi_tensor/l2norm.cu
  transformer_engine/common/multi_tensor/multi_tensor_apply.cuh
  transformer_engine/common/multi_tensor/scale.cu
  transformer_engine/common/multi_tensor/sgd.cu
  transformer_engine/pytorch/csrc/extensions/multi_tensor/adam.cpp
  transformer_engine/pytorch/csrc/extensions/multi_tensor/compute_scale.cpp
  transformer_engine/pytorch/csrc/extensions/multi_tensor/scale.cpp
  transformer_engine/pytorch/csrc/extensions/multi_tensor/sgd.cpp
Due: clang-format, cpplint

fix LF format
  transformer_engine/common/include/transformer_engine/multi_tensor.h
Due: clang-format, cpplint

Core compiles
  transformer_engine/common/multi_tensor/multi_tensor_apply.cuh
  transformer_engine/common/multi_tensor/scale.cu
  transformer_engine/common/multi_tensor/sgd.cu
Due: clang-format, cpplint

Fix
  transformer_engine/pytorch/csrc/common.cpp
  transformer_engine/pytorch/csrc/common.h
Due: clang-format, cpplint

Compiles
  transformer_engine/common/multi_tensor/scale.cu
  transformer_engine/pytorch/csrc/common.cpp
  transformer_engine/pytorch/csrc/common.h
  transformer_engine/pytorch/csrc/extensions/multi_tensor/adam.cpp
  transformer_engine/pytorch/csrc/extensions/multi_tensor/compute_scale.cpp
  transformer_engine/pytorch/csrc/extensions/multi_tensor/l2norm.cpp
Due: clang-format, cpplint

Move multi tensor kernels to core
  transformer_engine/common/CMakeLists.txt
  transformer_engine/common/include/transformer_engine/multi_tensor.h
  transformer_engine/common/multi_tensor/adam.cu
  transformer_engine/common/multi_tensor/compute_scale.cu
  transformer_engine/common/multi_tensor/l2norm.cu
  transformer_engine/common/multi_tensor/multi_tensor_apply.cuh
  transformer_engine/common/multi_tensor/scale.cu
  transformer_engine/common/multi_tensor/sgd.cu
  transformer_engine/pytorch/csrc/common.cpp
  transformer_engine/pytorch/csrc/common.h
  transformer_engine/pytorch/csrc/extensions/multi_tensor/adam.cpp
  transformer_engine/pytorch/csrc/extensions/multi_tensor/compute_scale.cpp
  transformer_engine/pytorch/csrc/extensions/multi_tensor/l2norm.cpp
  transformer_engine/pytorch/csrc/extensions/multi_tensor/multi_tensor_compute_scale.cu
  transformer_engine/pytorch/csrc/extensions/multi_tensor/scale.cpp
  transformer_engine/pytorch/csrc/extensions/multi_tensor/sgd.cpp
  transformer_engine/pytorch/csrc/type_shim.h
Due: clang-format, cpplint

Fix
  transformer_engine/pytorch/csrc/common.cpp
  transformer_engine/pytorch/csrc/common.h
  transformer_engine/pytorch/csrc/extensions/multi_tensor/adam.cpp
  transformer_engine/pytorch/csrc/extensions/multi_tensor/compute_scale.cpp
  transformer_engine/pytorch/csrc/extensions/multi_tensor/l2norm.cpp
  transformer_engine/pytorch/csrc/extensions/multi_tensor/scale.cpp
  transformer_engine/pytorch/csrc/extensions/multi_tensor/sgd.cpp
Due: clang-format, cpplint

Better errors
  transformer_engine/common/transformer_engine.cpp
Due: clang-format, cpplint

[wip]
  transformer_engine/common/multi_tensor/adam.cu
  transformer_engine/common/multi_tensor/compute_scale.cu
  transformer_engine/common/multi_tensor/l2norm.cu
  transformer_engine/common/multi_tensor/scale.cu
  transformer_engine/common/multi_tensor/sgd.cu
  transformer_engine/pytorch/csrc/common.cpp
  transformer_engine/pytorch/csrc/common.h
  transformer_engine/pytorch/csrc/extensions/multi_tensor/adam.cpp
  transformer_engine/pytorch/csrc/extensions/multi_tensor/compute_scale.cpp
  transformer_engine/pytorch/csrc/extensions/multi_tensor/l2norm.cpp
  transformer_engine/pytorch/csrc/extensions/multi_tensor/scale.cpp
  transformer_engine/pytorch/csrc/extensions/multi_tensor/sgd.cpp
Due: clang-format, cpplint

Works
  transformer_engine/common/common.cu
  transformer_engine/common/common.h
  transformer_engine/common/multi_tensor/adam.cu
  transformer_engine/common/multi_tensor/compute_scale.cu
  transformer_engine/common/multi_tensor/l2norm.cu
  transformer_engine/common/multi_tensor/scale.cu
  transformer_engine/common/multi_tensor/sgd.cu
Due: clang-format, cpplint

Fixes
  transformer_engine/common/common.cu
  transformer_engine/common/common.h
  transformer_engine/common/multi_tensor/adam.cu
  transformer_engine/common/multi_tensor/compute_scale.cu
  transformer_engine/common/multi_tensor/l2norm.cu
  transformer_engine/common/multi_tensor/scale.cu
  transformer_engine/common/multi_tensor/sgd.cu
  transformer_engine/pytorch/csrc/extensions/multi_tensor/compute_scale.cpp
  transformer_engine/pytorch/csrc/extensions/multi_tensor/scale.cpp
Due: clang-format, cpplint

Add deviceGuard support
  transformer_engine/common/include/transformer_engine/multi_tensor.h
  transformer_engine/common/multi_tensor/adam.cu
  transformer_engine/common/multi_tensor/compute_scale.cu
  transformer_engine/common/multi_tensor/l2norm.cu
  transformer_engine/common/multi_tensor/multi_tensor_apply.cuh
  transformer_engine/common/multi_tensor/scale.cu
  transformer_engine/common/multi_tensor/sgd.cu
  transformer_engine/pytorch/csrc/extensions/multi_tensor/adam.cpp
  transformer_engine/pytorch/csrc/extensions/multi_tensor/compute_scale.cpp
  transformer_engine/pytorch/csrc/extensions/multi_tensor/l2norm.cpp
  transformer_engine/pytorch/csrc/extensions/multi_tensor/scale.cpp
  transformer_engine/pytorch/csrc/extensions/multi_tensor/sgd.cpp
Due: clang-format, cpplint

tmp
  build_tools/jax.py
  build_tools/pytorch.py
Due: none

release GIL in nvte calls
  transformer_engine/common/CMakeLists.txt
  transformer_engine/common/common.h
  transformer_engine/common/util/pybind_helper.h
  transformer_engine/pytorch/csrc/extensions/pybind.cpp
Due: clang-format, cpplint

Prefer system installation over PyPI install
  transformer_engine/common/__init__.py
Due: pylint

Unused import rm
  build_tools/utils.py
Due: none

CMake to use wheels
  transformer_engine/common/CMakeLists.txt
Due: none

NVFP4-FWD MXFP8-BWD recipe
  transformer_engine/common/common.h
  transformer_engine/common/gemm/cublaslt_gemm.cu
  transformer_engine/common/recipe/__init__.py
  transformer_engine/pytorch/constants.py
  transformer_engine/pytorch/csrc/common.h
  transformer_engine/pytorch/csrc/extensions/pybind.cpp
  transformer_engine/pytorch/csrc/pybind.h
  transformer_engine/pytorch/csrc/quantizer.cpp
  transformer_engine/pytorch/csrc/type_converters.cpp
  transformer_engine/pytorch/tensor/_internal/hybrid_nvfp4_tensor_base.py
  transformer_engine/pytorch/tensor/hybrid_nvfp4_tensor.py
Due: pylint, clang-format, cpplint

Fixes
  transformer_engine/common/recipe/__init__.py
  transformer_engine/pytorch/csrc/extensions/pybind.cpp
  transformer_engine/pytorch/fp8.py
  transformer_engine/pytorch/module/base.py
  transformer_engine/pytorch/tensor/hybrid_nvfp4_tensor.py
Due: pylint, clang-format, cpplint

Fix
  transformer_engine/pytorch/csrc/quantizer.cpp
Due: clang-format, cpplint

Fix shapes
  tests/pytorch/test_cuda_graphs.py
  transformer_engine/common/common.h
  transformer_engine/pytorch/csrc/common.cpp
  transformer_engine/pytorch/csrc/common.h
  transformer_engine/pytorch/csrc/quantizer.cpp
  transformer_engine/pytorch/csrc/type_converters.cpp
  transformer_engine/pytorch/csrc/util.cpp
Due: clang-format, cpplint

Make shape 2D for columnwise
  transformer_engine/pytorch/csrc/type_converters.cpp
Due: clang-format, cpplint

nvfp4 recipe docs
  docs/api/common.rst
  transformer_engine/common/recipe/__init__.py
Due: pylint

CU13 wheel
  README.rst
  build_tools/wheel_utils/Dockerfile.aarch
  build_tools/wheel_utils/Dockerfile.x86
  build_tools/wheel_utils/build_wheels.sh
  build_tools/wheel_utils/launch_aarch.sh
  build_tools/wheel_utils/launch_x86.sh
  docs/installation.rst
  setup.py
  transformer_engine/common/__init__.py
  transformer_engine/jax/setup.py
  transformer_engine/pytorch/setup.py
Due: pylint

Initial setup
  pyproject.toml
  transformer_engine/common/CMakeLists.txt
  transformer_engine/common/__init__.py
Due: pylint

Add missing deps
  pyproject.toml
  transformer_engine/common/CMakeLists.txt
Due: none

Consolidate pytorch header files
  transformer_engine/pytorch/csrc/common.cpp
  transformer_engine/pytorch/csrc/common.h
  transformer_engine/pytorch/csrc/extensions/bias.cpp
  transformer_engine/pytorch/csrc/extensions/dropout.cpp
  transformer_engine/pytorch/csrc/extensions/nvshmem_comm.cpp
  transformer_engine/pytorch/csrc/extensions/recipe.cpp
  transformer_engine/pytorch/csrc/pybind.h
  transformer_engine/pytorch/csrc/quantizer.cpp
  transformer_engine/pytorch/csrc/torch_headers.h
  transformer_engine/pytorch/csrc/type_converters.cpp
  transformer_engine/pytorch/csrc/util.h
Due: clang-format, cpplint

Consolidate pybind11 headers and init macro
  build_tools/pytorch.py
  transformer_engine/pytorch/csrc/extensions/bias.cpp
  transformer_engine/pytorch/csrc/extensions/dropout.cpp
  transformer_engine/pytorch/csrc/extensions/gemm.cpp
  transformer_engine/pytorch/csrc/extensions/pybind.cpp
  transformer_engine/pytorch/csrc/extensions/transpose.cpp
  transformer_engine/pytorch/csrc/pybind.h
  transformer_engine/pytorch/csrc/quantizer.cpp
  transformer_engine/pytorch/csrc/torch_headers.h
  transformer_engine/pytorch/csrc/type_converters.cpp
  transformer_engine/pytorch/csrc/util.cpp
  transformer_engine/pytorch/setup.py
Due: pylint, clang-format, cpplint

Change stream
  transformer_engine/pytorch/csrc/common.cpp
  transformer_engine/pytorch/csrc/extensions/activation.cpp
  transformer_engine/pytorch/csrc/extensions/apply_rope.cpp
  transformer_engine/pytorch/csrc/extensions/attention.cpp
  transformer_engine/pytorch/csrc/extensions/bias.cpp
  transformer_engine/pytorch/csrc/extensions/cast.cpp
  transformer_engine/pytorch/csrc/extensions/comm_gemm_overlap.cpp
  transformer_engine/pytorch/csrc/extensions/dropout.cpp
  transformer_engine/pytorch/csrc/extensions/fp8_block_scaling_partial_cast.cpp
  transformer_engine/pytorch/csrc/extensions/gemm.cpp
  transformer_engine/pytorch/csrc/extensions/multi_tensor/adam.cpp
  transformer_engine/pytorch/csrc/extensions/multi_tensor/compute_scale.cpp
  transformer_engine/pytorch/csrc/extensions/multi_tensor/l2norm.cpp
  transformer_engine/pytorch/csrc/extensions/multi_tensor/scale.cpp
  transformer_engine/pytorch/csrc/extensions/multi_tensor/sgd.cpp
  transformer_engine/pytorch/csrc/extensions/normalization.cpp
  transformer_engine/pytorch/csrc/extensions/nvshmem_comm.cpp
  transformer_engine/pytorch/csrc/extensions/padding.cpp
  transformer_engine/pytorch/csrc/extensions/permutation.cpp
  transformer_engine/pytorch/csrc/extensions/recipe.cpp
  transformer_engine/pytorch/csrc/extensions/router.cpp
  transformer_engine/pytorch/csrc/extensions/softmax.cpp
  transformer_engine/pytorch/csrc/extensions/transpose.cpp
  transformer_engine/pytorch/csrc/quantizer.cpp
  transformer_engine/pytorch/csrc/torch_headers.h
  transformer_engine/pytorch/csrc/util.cpp
Due: clang-format, cpplint

Remove c10/IntArrayRef include
  build_tools/pytorch.py
  transformer_engine/pytorch/csrc/common.cpp
  transformer_engine/pytorch/csrc/common.h
  transformer_engine/pytorch/csrc/extensions/attention.cpp
  transformer_engine/pytorch/csrc/extensions/recipe.cpp
  transformer_engine/pytorch/csrc/torch_headers.h
  transformer_engine/pytorch/setup.py
Due: pylint, clang-format, cpplint

Remove torch indexing
  transformer_engine/pytorch/csrc/extensions/attention.cpp
  transformer_engine/pytorch/csrc/extensions/comm_gemm_overlap.cpp
Due: clang-format, cpplint

format
  build_tools/pytorch.py
  transformer_engine/pytorch/csrc/extensions/attention.cpp
  transformer_engine/pytorch/csrc/extensions/cast.cpp
  transformer_engine/pytorch/csrc/extensions/comm_gemm_overlap.cpp
  transformer_engine/pytorch/csrc/extensions/dropout.cpp
  transformer_engine/pytorch/csrc/extensions/fp8_block_scaling_partial_cast.cpp
  transformer_engine/pytorch/csrc/extensions/router.cpp
  transformer_engine/pytorch/csrc/extensions/softmax.cpp
  transformer_engine/pytorch/csrc/quantizer.cpp
  transformer_engine/pytorch/csrc/torch_headers.h
  transformer_engine/pytorch/csrc/util.cpp
  transformer_engine/pytorch/csrc/util.h
  transformer_engine/pytorch/setup.py
Due: pylint, clang-format, cpplint

Remove another header, remove torch namespace as much as possible.
  transformer_engine/pytorch/csrc/common.h
  transformer_engine/pytorch/csrc/extensions/attention.cpp
  transformer_engine/pytorch/csrc/extensions/cast.cpp
  transformer_engine/pytorch/csrc/extensions/comm_gemm_overlap.cpp
  transformer_engine/pytorch/csrc/extensions/dropout.cpp
  transformer_engine/pytorch/csrc/extensions/gemm.cpp
  transformer_engine/pytorch/csrc/extensions/nvshmem_comm.cpp
  transformer_engine/pytorch/csrc/extensions/permutation.cpp
  transformer_engine/pytorch/csrc/extensions/softmax.cpp
  transformer_engine/pytorch/csrc/extensions/transpose.cpp
  transformer_engine/pytorch/csrc/quantizer.cpp
  transformer_engine/pytorch/csrc/torch_headers.h
  transformer_engine/pytorch/csrc/util.cpp
Due: clang-format, cpplint

More fixes to namespace and includes
  transformer_engine/pytorch/csrc/extensions.h
  transformer_engine/pytorch/csrc/extensions/attention.cpp
  transformer_engine/pytorch/csrc/extensions/comm_gemm_overlap.cpp
  transformer_engine/pytorch/csrc/extensions/nvshmem_comm.cpp
  transformer_engine/pytorch/csrc/extensions/permutation.cpp
  transformer_engine/pytorch/csrc/extensions/router.cpp
  transformer_engine/pytorch/csrc/torch_headers.h
Due: clang-format, cpplint

Remove unused graph functionality for now
  transformer_engine/pytorch/module/grouped_linear.py
Due: pylint
