Repository ksivaman/TransformerEngine-1: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, clang-format, cpplint

.pre-commit-config.yaml:

# Copyright (c) 2022, NVIDIA CORPORATION & AFFILIATES. All rights reserved.
#
# See LICENSE for license information.

default_language_version:
  python: python3

ci:
  autofix_prs: true
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit suggestions'
  autoupdate_schedule: quarterly
  skip: [pylint, clang-format, cpplint]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-yaml
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/PyCQA/isort
    rev: 4.3.21
    hooks:
      - id: isort
        name: Format imports
        args: [ --multi-line=3, --trailing-comma, --force-grid-wrap=0, --use-parentheses, --line-width=100, -rc, -ws ]
        exclude: docs/

  - repo: https://github.com/psf/black
    rev: 19.10b0
    hooks:
      - id: black
        name: Format python code
        args: [--line-length=100]
        additional_dependencies: ['click==8.0.2']

  - repo: local
    hooks:
      - id: pylint
        name: Check python code style
        entry: python -m pylint
        language: system
        types: [python]
        args: ["--rcfile=./pylintrc"]

  - repo: local
    hooks:
      - id: clang-format
        name: Format c/cpp/cuda code
        entry: clang-format -i
        language: system
        files: \.(c|cc|cxx|cpp|cu|cuh|h|hpp)$

  - repo: local
    hooks:
      - id: cpplint
        name: Check c/cpp/cuda code style
        entry: cpplint
        language: system
        files: \.(c|cc|cxx|cpp|cu|cuh|h|hpp)$

move linting config files
  .github/workflows/lint.yml
  CPPLINT.cfg
  pylintrc
  qa/L0_lint/format_py_files.sh
Due: none

fix formatting config and dirs
  .clang-format
  .pre-commit-config.yaml
  CPPLINT.cfg
Due: none

fix lint ci
  .github/workflows/lint.yml
Due: none

Add scaling factor change
  tests/paddle/test_operators.py
  transformer_engine/common/recipe.py
  transformer_engine/jax/fp8.py
  transformer_engine/paddle/csrc/custom_ops.cu
  transformer_engine/pytorch/fp8.py
  transformer_engine/tensorflow/fp8.py
Due: pylint, clang-format, cpplint

Add QDQ method
  transformer_engine/pytorch/fp8.py
Due: pylint

Fix
  transformer_engine/pytorch/fp8.py
Due: pylint

Use tensor for scale
  transformer_engine/pytorch/fp8.py
Due: pylint

Dynamic module buffer position
  transformer_engine/pytorch/fp8.py
Due: pylint

setup
  transformer_engine/pytorch/cpp_extensions/gemm.py
Due: pylint

change layouts
  transformer_engine/pytorch/cpp_extensions/gemm.py
Due: pylint

FP8
  transformer_engine/pytorch/cpp_extensions/gemm.py
Due: pylint

support fp8 current scaling for dgrad tensors
  transformer_engine/pytorch/cpp_extensions/gemm.py
  transformer_engine/pytorch/module/base.py
  transformer_engine/pytorch/module/layernorm_linear.py
  transformer_engine/pytorch/module/linear.py
Due: pylint

Improved amax reduction
  tests/pytorch/fused_attn/test_fused_attn.py
  tests/pytorch/test_onnx_export.py
  transformer_engine/pytorch/fp8.py
  transformer_engine/pytorch/module/base.py
  transformer_engine/pytorch/module/layernorm_mlp.py
Due: pylint

Update FindCUDNN.cmake
  transformer_engine/cmake/FindCUDNN.cmake
Due: none

fix fused rope
  transformer_engine/common/fused_rope/fused_rope.cu
Due: clang-format, cpplint

Inplace amax
  transformer_engine/pytorch/fp8.py
Due: pylint

WIP
  transformer_engine/common/include/transformer_engine/cast_transpose_noop.h
  transformer_engine/common/transpose/rtc/transpose.cu
  transformer_engine/common/transpose/transpose.cu
  transformer_engine/pytorch/csrc/extensions.h
  transformer_engine/pytorch/csrc/extensions/pybind.cpp
  transformer_engine/pytorch/csrc/extensions/transpose.cu
  transformer_engine/pytorch/float8_tensor.py
Due: pylint, clang-format, cpplint

amax debug tests
  transformer_engine/pytorch/cpp_extensions/gemm.py
  transformer_engine/pytorch/module/base.py
  transformer_engine/pytorch/module/layernorm_linear.py
  transformer_engine/pytorch/module/linear.py
Due: pylint

more debug experiments for ms
  transformer_engine/pytorch/cpp_extensions/gemm.py
Due: pylint

[PyTorch] Use __torch_function__ as a class method (#783)
  transformer_engine/pytorch/float8_tensor.py
Due: pylint

[PyTorch] Misc fixes for release_v1.6 (#784)
  transformer_engine/pytorch/module/layernorm_linear.py
  transformer_engine/pytorch/module/layernorm_mlp.py
  transformer_engine/pytorch/module/linear.py
  transformer_engine/pytorch/utils.py
Due: pylint

FP8 attention including post fixes
  qa/L0_pytorch_unittest/test.sh
  tests/pytorch/fused_attn/test_fused_attn.py
  tests/pytorch/test_numerics.py
  transformer_engine/common/fused_attn/fused_attn.cpp
  transformer_engine/common/fused_attn/fused_attn_f16_arbitrary_seqlen.cu
  transformer_engine/common/fused_attn/fused_attn_f16_arbitrary_seqlen.h
  transformer_engine/common/fused_attn/fused_attn_fp8.cu
  transformer_engine/common/fused_attn/fused_attn_fp8.h
  transformer_engine/common/fused_attn/utils.h
  transformer_engine/common/recipe/__init__.py
  transformer_engine/pytorch/attention.py
  transformer_engine/pytorch/cpp_extensions/fused_attn.py
  transformer_engine/pytorch/csrc/comm_gemm_overlap.h
  transformer_engine/pytorch/csrc/extensions.h
  transformer_engine/pytorch/csrc/extensions/attention.cu
  transformer_engine/pytorch/float8_tensor.py
  transformer_engine/pytorch/fp8.py
  transformer_engine/pytorch/module/base.py
  transformer_engine/pytorch/module/layernorm_linear.py
  transformer_engine/pytorch/module/linear.py
  transformer_engine/pytorch/utils.py
Due: pylint, clang-format, cpplint

Initial build refactor
  __init__.py
  setup.py
  transformer_engine/VERSION
  transformer_engine/__init__.py
  transformer_engine/_version.py
  transformer_engine/build_tools/__init__.py
  transformer_engine/build_tools/build_ext.py
  transformer_engine/build_tools/utils.py
  transformer_engine/jax/setup.py
  transformer_engine/paddle/setup.py
  transformer_engine/pytorch/setup.py
  transformer_engine/te_version.py
Due: pylint

fix pytorch build
  setup.py
  transformer_engine/CMakeLists.txt
  transformer_engine/jax/setup.py
  transformer_engine/paddle/setup.py
  transformer_engine/pytorch/setup.py
Due: pylint

minor_fix
  transformer_engine/jax/setup.py
  transformer_engine/paddle/setup.py
  transformer_engine/pytorch/setup.py
Due: pylint

add dev container
  .devcontainer/devcontainer.json
  Makefile
Due: none

Refactoring - SO Lib & Torch Plugin
  .devcontainer/devcontainer.json
  .gitignore
  setup.py
  transformer_engine/__init__.py
  transformer_engine/build_tools/build_ext.py
  transformer_engine/common/__init__.py
  transformer_engine/pytorch/Makefile
  transformer_engine/pytorch/__init__.py
  transformer_engine/pytorch/setup.py
Due: pylint

Added demo to build pytorch / jax /paddle from top level
  .devcontainer/devcontainer.json
  Makefile
  setup.py
Due: pylint

Decouple JAX build
  setup.py
  transformer_engine/CMakeLists.txt
  transformer_engine/jax/CMakeLists.txt
Due: pylint

Fix continuous build
  setup.py
Due: pylint

envvars for release builds
  setup.py
Due: pylint

Create setup_build_tools.py
  setup_build_tools.py
Due: pylint

git status
  build_tools/top_level_pkg/setup.py
  setup.py
Due: pylint

mark global symbols
  transformer_engine/common/CMakeLists.txt
  transformer_engine/common/include/transformer_engine/activation.h
  transformer_engine/common/include/transformer_engine/cast.h
  transformer_engine/common/include/transformer_engine/cast_transpose_noop.h
  transformer_engine/common/include/transformer_engine/fused_attn.h
  transformer_engine/common/include/transformer_engine/fused_rope.h
  transformer_engine/common/include/transformer_engine/gemm.h
  transformer_engine/common/include/transformer_engine/layer_norm.h
  transformer_engine/common/include/transformer_engine/permutation.h
  transformer_engine/common/include/transformer_engine/recipe.h
  transformer_engine/common/include/transformer_engine/rmsnorm.h
  transformer_engine/common/include/transformer_engine/softmax.h
  transformer_engine/common/include/transformer_engine/transpose.h
Due: clang-format, cpplint

format
  transformer_engine/common/include/transformer_engine/activation.h
  transformer_engine/common/include/transformer_engine/cast.h
  transformer_engine/common/include/transformer_engine/cast_transpose_noop.h
  transformer_engine/common/include/transformer_engine/fused_attn.h
  transformer_engine/common/include/transformer_engine/fused_rope.h
  transformer_engine/common/include/transformer_engine/gemm.h
  transformer_engine/common/include/transformer_engine/layer_norm.h
  transformer_engine/common/include/transformer_engine/permutation.h
  transformer_engine/common/include/transformer_engine/recipe.h
  transformer_engine/common/include/transformer_engine/rmsnorm.h
  transformer_engine/common/include/transformer_engine/softmax.h
  transformer_engine/common/include/transformer_engine/transpose.h
Due: clang-format, cpplint

FIxes
  transformer_engine/pytorch/distributed.py
  transformer_engine/pytorch/fp8.py
  transformer_engine/pytorch/ops/fused/userbuffers_backward_linear.py
  transformer_engine/pytorch/ops/fused/userbuffers_forward_linear.py
  transformer_engine/pytorch/tensor/quantized_tensor.py
Due: pylint

Use dummy wgrads for lower memory consumption
  transformer_engine/pytorch/module/base.py
  transformer_engine/pytorch/module/layernorm_linear.py
  transformer_engine/pytorch/module/linear.py
Due: pylint

Bug fix to avoid sharing gradients.
  transformer_engine/pytorch/module/base.py
Due: pylint

Initial fixes
  tests/pytorch/distributed/run_gemm_with_overlap.py
  transformer_engine/pytorch/csrc/extensions.h
  transformer_engine/pytorch/csrc/extensions/comm_gemm_overlap.cpp
  transformer_engine/pytorch/csrc/extensions/pybind.cpp
  transformer_engine/pytorch/module/layernorm_linear.py
  transformer_engine/pytorch/module/layernorm_mlp.py
  transformer_engine/pytorch/module/linear.py
Due: pylint, clang-format, cpplint
