Repository ksivaman/TransformerEngine-1: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, clang-format, cpplint

.pre-commit-config.yaml:

# Copyright (c) 2022, NVIDIA CORPORATION & AFFILIATES. All rights reserved.
#
# See LICENSE for license information.

default_language_version:
  python: python3

ci:
  autofix_prs: true
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit suggestions'
  autoupdate_schedule: quarterly
  skip: [pylint, clang-format, cpplint]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/psf/black
    rev: 19.10b0
    hooks:
      - id: black
        name: Format python code
        files: ^transformer_engine/
        types: [python]
        args: [--line-length=100]
        additional_dependencies: ['click==8.0.2']

  - repo: local
    hooks:
      - id: pylint
        name: Check python code style
        entry: python -m pylint
        language: system
        files: ^transformer_engine/
        types: [python]
        args: ["--rcfile=./pylintrc"]

  - repo: local
    hooks:
      - id: clang-format
        name: Format c/c++/cuda code
        entry: clang-format -i
        language: system
        files: ^transformer_engine.*\.(c|cc|cxx|cpp|cu|cuh|h|hpp)$

  - repo: local
    hooks:
      - id: cpplint
        name: Check c/c++/cuda code style
        entry: cpplint
        language: system
        files: ^transformer_engine.*\.(c|cc|cxx|cpp|cu|cuh|h|hpp)$

code drop
  tests/cpp/operator/test_grouped_gemm.cu
  tests/cpp/test_common.cu
  tests/cpp/test_common.h
  transformer_engine/common/gemm/cublaslt_grouped_gemm.cu
Due: clang-format, cpplint

Remove redundant nvte_set/get_grouped_tensor_swizzled_scales
  tests/cpp/test_common.cu
  transformer_engine/common/include/transformer_engine/transformer_engine.h
  transformer_engine/common/transformer_engine.cpp
Due: clang-format, cpplint

Fix Hopper grouped GEMM alpha beta handling
  tests/cpp/operator/test_grouped_gemm.cu
  transformer_engine/common/gemm/cublaslt_grouped_gemm.cu
Due: clang-format, cpplint

fix
  tests/cpp/operator/test_grouped_gemm.cu
  tests/cpp/test_common.cu
  transformer_engine/common/common.h
  transformer_engine/common/gemm/cublaslt_grouped_gemm.cu
  transformer_engine/common/transformer_engine.cpp
Due: clang-format, cpplint

Add Hopper support for grouped GEMM and refactor cuBLAS version checks
  tests/pytorch/test_numerics.py
  transformer_engine/common/gemm/cublaslt_grouped_gemm.cu
  transformer_engine/common/include/transformer_engine/transformer_engine.h
  transformer_engine/pytorch/cpp_extensions/gemm.py
  transformer_engine/pytorch/csrc/extensions/gemm.cpp
  transformer_engine/pytorch/csrc/extensions/pybind.cpp
Due: pylint, clang-format, cpplint

NVFP4 cuteDSL initial infrastructure
  tests/pytorch/test_fusible_ops.py
  transformer_engine/pytorch/ops/fused/__init__.py
  transformer_engine/pytorch/ops/fused/backward_grouped_mlp.py
  transformer_engine/pytorch/ops/fused/forward_grouped_mlp.py
Due: pylint

Add NVFP4 support for discrete-input grouped GEMM and skip FP8 tensor scaling tests on Hopper
  tests/cpp/operator/test_grouped_gemm.cu
  transformer_engine/common/gemm/cublaslt_grouped_gemm.cu
Due: clang-format, cpplint

Add alignment assertions for MXFP8/NVFP4 scale offsets in grouped GEMM tests
  tests/cpp/test_common.cu
Due: none

nvfp4 functional but numerics are bad
  transformer_engine/pytorch/ops/fused/backward_grouped_mlp.py
  transformer_engine/pytorch/ops/fused/forward_grouped_mlp.py
Due: pylint

Fix
  transformer_engine/pytorch/ops/fused/backward_grouped_mlp.py
  transformer_engine/pytorch/ops/fused/forward_grouped_mlp.py
Due: pylint

Fix NVFP4 unfused single param case
  transformer_engine/pytorch/ops/fused/forward_grouped_mlp.py
Due: pylint

nvfp4 colwise is transposed
  transformer_engine/pytorch/ops/fused/backward_grouped_mlp.py
Due: pylint

NVFP4 changes for MoE or dense GEMM
  transformer_engine/pytorch/ops/fused/backward_grouped_mlp.py
  transformer_engine/pytorch/ops/fused/forward_grouped_mlp.py
Due: pylint

Add bias/dbias fused support with cute GEMMs
  tests/pytorch/test_fusible_ops.py
  transformer_engine/pytorch/ops/fused/backward_grouped_mlp.py
  transformer_engine/pytorch/ops/fused/forward_grouped_mlp.py
Due: pylint

Check bias/dbias support
  transformer_engine/pytorch/ops/fused/backward_grouped_mlp.py
  transformer_engine/pytorch/ops/fused/forward_grouped_mlp.py
Due: pylint

Pack biases more efficiently
  transformer_engine/pytorch/ops/fused/backward_grouped_mlp.py
  transformer_engine/pytorch/ops/fused/forward_grouped_mlp.py
Due: pylint

GroupedTensor for biases to avoid concat
  tests/pytorch/test_fusible_ops.py
  tests/pytorch/test_grouped_tensor.py
  tests/pytorch/test_sanity.py
  transformer_engine/pytorch/module/grouped_linear.py
  transformer_engine/pytorch/ops/basic/grouped_linear.py
  transformer_engine/pytorch/ops/fused/backward_grouped_mlp.py
  transformer_engine/pytorch/ops/fused/forward_grouped_mlp.py
Due: pylint

format
  tests/pytorch/test_fusible_ops.py
  transformer_engine/pytorch/ops/basic/grouped_linear.py
  transformer_engine/pytorch/ops/fused/backward_grouped_mlp.py
Due: pylint

Support 1D grouped tensor shape for bias and fix checkpointing
  tests/pytorch/test_fusible_ops.py
  tests/pytorch/test_sanity.py
  transformer_engine/pytorch/module/grouped_linear.py
  transformer_engine/pytorch/ops/basic/grouped_linear.py
  transformer_engine/pytorch/ops/fused/backward_grouped_mlp.py
  transformer_engine/pytorch/tensor/grouped_tensor.py
  transformer_engine/pytorch/tensor/storage/grouped_tensor_storage.py
Due: pylint

Fixes and tests
  tests/pytorch/test_fusible_ops.py
  transformer_engine/pytorch/ops/basic/grouped_linear.py
  transformer_engine/pytorch/ops/fused/backward_grouped_mlp.py
Due: pylint

Fixes for zero token case
  tests/pytorch/test_fusible_ops.py
  transformer_engine/common/gemm/cublaslt_grouped_gemm.cu
Due: clang-format, cpplint

Fixes to make fused discrete MoE work with arbitary number of groups
  tests/pytorch/test_fusible_ops.py
  transformer_engine/pytorch/ops/fused/backward_grouped_mlp.py
  transformer_engine/pytorch/ops/fused/forward_grouped_mlp.py
Due: pylint

Updates to ensure no prints
  tests/pytorch/test_fusible_ops.py
  transformer_engine/pytorch/ops/fused/backward_grouped_mlp.py
  transformer_engine/pytorch/ops/fused/forward_grouped_mlp.py
Due: pylint

port fixes
  transformer_engine/pytorch/tensor/storage/grouped_tensor_storage.py
  transformer_engine/pytorch/utils.py
Due: pylint

Initial refactor for padding
  transformer_engine/common/common.h
  transformer_engine/common/include/transformer_engine/transformer_engine.h
  transformer_engine/common/transformer_engine.cpp
  transformer_engine/pytorch/csrc/common.h
  transformer_engine/pytorch/csrc/quantizer.cpp
  transformer_engine/pytorch/tensor/mxfp8_tensor.py
  transformer_engine/pytorch/tensor/nvfp4_tensor.py
  transformer_engine/pytorch/utils.py
Due: pylint, clang-format, cpplint

Add recipe side plumbing for 128,128 SF inverse padding option
  transformer_engine/common/recipe/__init__.py
  transformer_engine/pytorch/quantization.py
Due: pylint

reduce dim constraint for fusion
  tests/pytorch/test_fusible_ops.py
  transformer_engine/pytorch/ops/_common.py
  transformer_engine/pytorch/ops/fused/forward_grouped_mlp.py
Due: pylint

Revert "Merge branch 'sraman/NVFP4-dense-gemm' into 'main'"
  tests/cpp/operator/test_grouped_gemm.cu
  tests/cpp/operator/test_swizzle.cu
  tests/cpp/test_common.cu
  tests/cpp/test_common.h
  tests/pytorch/test_fusible_ops.py
  tests/pytorch/test_numerics.py
  transformer_engine/common/cast/mxfp8/group_quantize_mxfp8.cuh
  transformer_engine/common/common.h
  transformer_engine/common/gemm/cublaslt_grouped_gemm.cu
  transformer_engine/common/include/transformer_engine/swizzle.h
  transformer_engine/common/include/transformer_engine/transformer_engine.h
  transformer_engine/common/transformer_engine.cpp
  transformer_engine/pytorch/cpp_extensions/gemm.py
  transformer_engine/pytorch/csrc/extensions/gemm.cpp
  transformer_engine/pytorch/csrc/extensions/pybind.cpp
  transformer_engine/pytorch/csrc/quantizer.cpp
  transformer_engine/pytorch/csrc/type_converters.cpp
  transformer_engine/pytorch/module/grouped_linear.py
  transformer_engine/pytorch/ops/_common.py
  transformer_engine/pytorch/ops/basic/grouped_linear.py
  transformer_engine/pytorch/ops/fused/__init__.py
  transformer_engine/pytorch/ops/fused/backward_grouped_mlp.py
  transformer_engine/pytorch/ops/fused/forward_grouped_mlp.py
  transformer_engine/pytorch/tensor/grouped_tensor.py
  transformer_engine/pytorch/tensor/storage/grouped_tensor_storage.py
Due: pylint, clang-format, cpplint

Revert "Merge branch 'revert-557-NVFP4-dense-gemm' into 'main'"
  tests/cpp/operator/test_grouped_gemm.cu
  tests/cpp/operator/test_swizzle.cu
  tests/cpp/test_common.cu
  tests/cpp/test_common.h
  tests/pytorch/test_fusible_ops.py
  tests/pytorch/test_numerics.py
  transformer_engine/common/cast/mxfp8/group_quantize_mxfp8.cuh
  transformer_engine/common/common.h
  transformer_engine/common/gemm/cublaslt_grouped_gemm.cu
  transformer_engine/common/include/transformer_engine/swizzle.h
  transformer_engine/common/include/transformer_engine/transformer_engine.h
  transformer_engine/common/transformer_engine.cpp
  transformer_engine/pytorch/cpp_extensions/gemm.py
  transformer_engine/pytorch/csrc/extensions/gemm.cpp
  transformer_engine/pytorch/csrc/extensions/pybind.cpp
  transformer_engine/pytorch/csrc/quantizer.cpp
  transformer_engine/pytorch/csrc/type_converters.cpp
  transformer_engine/pytorch/module/grouped_linear.py
  transformer_engine/pytorch/ops/_common.py
  transformer_engine/pytorch/ops/basic/grouped_linear.py
  transformer_engine/pytorch/ops/fused/__init__.py
  transformer_engine/pytorch/ops/fused/backward_grouped_mlp.py
  transformer_engine/pytorch/ops/fused/forward_grouped_mlp.py
  transformer_engine/pytorch/tensor/grouped_tensor.py
  transformer_engine/pytorch/tensor/storage/grouped_tensor_storage.py
Due: pylint, clang-format, cpplint

Remove debug prints; add group_quantize helper and num_groups=1 offset caching
  transformer_engine/pytorch/ops/_common.py
  transformer_engine/pytorch/ops/fused/backward_grouped_mlp.py
  transformer_engine/pytorch/ops/fused/forward_grouped_mlp.py
Due: pylint

Pad data for discrete path?
  transformer_engine/pytorch/csrc/extensions.h
  transformer_engine/pytorch/csrc/extensions/pybind.cpp
  transformer_engine/pytorch/csrc/extensions/utils.cpp
  transformer_engine/pytorch/ops/fused/backward_grouped_mlp.py
  transformer_engine/pytorch/ops/fused/forward_grouped_mlp.py
Due: pylint, clang-format, cpplint

fixes
  transformer_engine/pytorch/csrc/extensions.h
  transformer_engine/pytorch/csrc/extensions/pybind.cpp
  transformer_engine/pytorch/csrc/extensions/utils.cpp
  transformer_engine/pytorch/ops/fused/backward_grouped_mlp.py
  transformer_engine/pytorch/ops/fused/forward_grouped_mlp.py
Due: pylint, clang-format, cpplint

Pad garbage scales
  tests/pytorch/test_fusible_ops.py
  transformer_engine/pytorch/ops/fused/backward_grouped_mlp.py
  transformer_engine/pytorch/ops/fused/forward_grouped_mlp.py
Due: pylint

Fix
  tests/pytorch/test_fusible_ops.py
  transformer_engine/common/cast/mxfp8/group_quantize_mxfp8.cuh
  transformer_engine/pytorch/csrc/quantizer.cpp
  transformer_engine/pytorch/ops/_common.py
  transformer_engine/pytorch/ops/fused/backward_grouped_mlp.py
  transformer_engine/pytorch/tensor/mxfp8_tensor.py
Due: pylint, clang-format, cpplint

fix dim64 k
  tests/pytorch/test_fusible_ops.py
  transformer_engine/common/cast/mxfp8/group_quantize_mxfp8.cuh
  transformer_engine/pytorch/csrc/quantizer.cpp
  transformer_engine/pytorch/ops/fused/backward_grouped_mlp.py
  transformer_engine/pytorch/tensor/mxfp8_tensor.py
Due: pylint, clang-format, cpplint

fix cublas ggemm
  transformer_engine/common/gemm/cublaslt_grouped_gemm.cu
Due: clang-format, cpplint

fix
  transformer_engine/common/cast/mxfp8/group_quantize_mxfp8.cuh
  transformer_engine/pytorch/csrc/quantizer.cpp
  transformer_engine/pytorch/tensor/mxfp8_tensor.py
Due: pylint, clang-format, cpplint

NVFP4 grouped MLP
  tests/cpp/operator/test_grouped_gemm.cu
  tests/cpp/operator/test_swizzle.cu
  tests/cpp/test_common.cu
  tests/cpp/test_common.h
  tests/pytorch/test_fusible_ops.py
  tests/pytorch/test_numerics.py
  transformer_engine/common/cast/mxfp8/group_quantize_mxfp8.cuh
  transformer_engine/common/common.h
  transformer_engine/common/gemm/cublaslt_grouped_gemm.cu
  transformer_engine/common/include/transformer_engine/swizzle.h
  transformer_engine/common/include/transformer_engine/transformer_engine.h
  transformer_engine/common/transformer_engine.cpp
  transformer_engine/pytorch/cpp_extensions/gemm.py
  transformer_engine/pytorch/csrc/extensions/gemm.cpp
  transformer_engine/pytorch/csrc/extensions/pybind.cpp
  transformer_engine/pytorch/csrc/quantizer.cpp
  transformer_engine/pytorch/csrc/type_converters.cpp
  transformer_engine/pytorch/module/base.py
  transformer_engine/pytorch/module/grouped_linear.py
  transformer_engine/pytorch/ops/_common.py
  transformer_engine/pytorch/ops/basic/grouped_linear.py
  transformer_engine/pytorch/ops/fused/__init__.py
  transformer_engine/pytorch/ops/fused/backward_grouped_mlp.py
  transformer_engine/pytorch/ops/fused/forward_grouped_mlp.py
  transformer_engine/pytorch/tensor/grouped_tensor.py
  transformer_engine/pytorch/tensor/storage/grouped_tensor_storage.py
Due: pylint, clang-format, cpplint
