Repository ksivaman/TransformerEngine-1: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, clang-format, cpplint

.pre-commit-config.yaml:

# Copyright (c) 2022, NVIDIA CORPORATION & AFFILIATES. All rights reserved.
#
# See LICENSE for license information.

default_language_version:
  python: python3

ci:
  autofix_prs: true
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit suggestions'
  autoupdate_schedule: quarterly
  skip: [pylint, clang-format, cpplint]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/psf/black
    rev: 19.10b0
    hooks:
      - id: black
        name: Format python code
        files: ^transformer_engine/
        types: [python]
        args: [--line-length=100]
        additional_dependencies: ['click==8.0.2']

  - repo: local
    hooks:
      - id: pylint
        name: Check python code style
        entry: python -m pylint
        language: system
        files: ^transformer_engine/
        types: [python]
        args: ["--rcfile=./pylintrc"]

  - repo: local
    hooks:
      - id: clang-format
        name: Format c/c++/cuda code
        entry: clang-format -i
        language: system
        files: ^transformer_engine.*\.(c|cc|cxx|cpp|cu|cuh|h|hpp)$

  - repo: local
    hooks:
      - id: cpplint
        name: Check c/c++/cuda code style
        entry: cpplint
        language: system
        files: ^transformer_engine.*\.(c|cc|cxx|cpp|cu|cuh|h|hpp)$

add nvtx only when enabled via env
  transformer_engine/pytorch/attention/dot_product_attention/backends.py
  transformer_engine/pytorch/module/base.py
  transformer_engine/pytorch/module/grouped_linear.py
  transformer_engine/pytorch/module/layernorm_linear.py
  transformer_engine/pytorch/module/layernorm_mlp.py
  transformer_engine/pytorch/module/linear.py
  transformer_engine/pytorch/utils.py
Due: pylint

Partially revert PR 1974
  qa/L1_pytorch_distributed_unittest/test.sh
  transformer_engine/pytorch/attention/dot_product_attention/dot_product_attention.py
  transformer_engine/pytorch/module/grouped_linear.py
  transformer_engine/pytorch/module/layernorm_linear.py
  transformer_engine/pytorch/module/layernorm_mlp.py
  transformer_engine/pytorch/module/linear.py
Due: pylint

Re-add multi-device test
  qa/L1_pytorch_distributed_unittest/test.sh
Due: none

Add device guard in c++ ext
  transformer_engine/pytorch/csrc/extensions/attention.cpp
  transformer_engine/pytorch/csrc/extensions/gemm.cpp
Due: clang-format, cpplint

Refactor workspaces
  tests/pytorch/debug/test_numerics.py
  tests/pytorch/test_numerics.py
  tests/pytorch/test_sanity.py
  transformer_engine/pytorch/cpp_extensions/gemm.py
  transformer_engine/pytorch/module/base.py
  transformer_engine/pytorch/module/grouped_linear.py
  transformer_engine/pytorch/module/layernorm_linear.py
  transformer_engine/pytorch/module/layernorm_mlp.py
  transformer_engine/pytorch/module/linear.py
  transformer_engine/pytorch/ops/basic/basic_linear.py
  transformer_engine/pytorch/ops/fused/userbuffers_backward_linear.py
  transformer_engine/pytorch/ops/fused/userbuffers_forward_linear.py
Due: pylint

Fix device selection and format
  transformer_engine/pytorch/cpp_extensions/gemm.py
  transformer_engine/pytorch/csrc/extensions/attention.cpp
  transformer_engine/pytorch/csrc/extensions/gemm.cpp
Due: pylint, clang-format, cpplint

norm also creates cudnn handle
  transformer_engine/pytorch/csrc/extensions/attention.cpp
  transformer_engine/pytorch/csrc/extensions/normalization.cpp
Due: clang-format, cpplint

Add grouped linear test to device switch; lint
  tests/pytorch/distributed/test_sanity.py
  transformer_engine/pytorch/utils.py
Due: pylint

Fix custom recipes
  transformer_engine/pytorch/cpp_extensions/gemm.py
Due: pylint

small optimizations
  transformer_engine/pytorch/module/base.py
  transformer_engine/pytorch/module/grouped_linear.py
  transformer_engine/pytorch/module/layernorm_linear.py
  transformer_engine/pytorch/module/layernorm_mlp.py
  transformer_engine/pytorch/module/linear.py
Due: pylint

Fix tests L0
  tests/pytorch/attention/test_attention.py
  transformer_engine/pytorch/module/base.py
  transformer_engine/pytorch/module/layernorm_mlp.py
Due: pylint

Reduce autograd args to grouped lienar
  transformer_engine/common/recipe/__init__.py
  transformer_engine/pytorch/module/grouped_linear.py
Due: pylint

Apply optimization to other modules
  transformer_engine/pytorch/module/base.py
  transformer_engine/pytorch/module/fp8_padding.py
  transformer_engine/pytorch/module/fp8_unpadding.py
  transformer_engine/pytorch/module/layernorm_linear.py
  transformer_engine/pytorch/module/layernorm_mlp.py
  transformer_engine/pytorch/module/linear.py
Due: pylint

fixes
  transformer_engine/pytorch/module/base.py
  transformer_engine/pytorch/module/layernorm_linear.py
  transformer_engine/pytorch/module/layernorm_mlp.py
  transformer_engine/pytorch/module/linear.py
Due: pylint

Backward compat for fp8_module
  transformer_engine/pytorch/__init__.py
Due: pylint

GroupedTensor
  transformer_engine/pytorch/tensor/float8_tensor.py
  transformer_engine/pytorch/tensor/mxfp8_tensor.py
  transformer_engine/pytorch/tensor/nvfp4_tensor.py
  transformer_engine/pytorch/tensor/storage/__init__.py
  transformer_engine/pytorch/tensor/storage/grouped_tensor.py
Due: pylint

Fix
  transformer_engine/pytorch/tensor/storage/grouped_tensor.py
Due: pylint

Fixes
  transformer_engine/pytorch/module/grouped_linear.py
  transformer_engine/pytorch/tensor/storage/grouped_tensor.py
Due: pylint

fix
  transformer_engine/pytorch/module/grouped_linear.py
  transformer_engine/pytorch/tensor/storage/grouped_tensor.py
Due: pylint

fix
  transformer_engine/pytorch/tensor/storage/grouped_tensor.py
Due: pylint

format
  transformer_engine/pytorch/module/grouped_linear.py
  transformer_engine/pytorch/tensor/float8_tensor.py
  transformer_engine/pytorch/tensor/mxfp8_tensor.py
  transformer_engine/pytorch/tensor/nvfp4_tensor.py
  transformer_engine/pytorch/tensor/storage/grouped_tensor.py
Due: pylint

Fix
  transformer_engine/pytorch/module/grouped_linear.py
Due: pylint

test
  tests/pytorch/test_grouped_tensor.py
  transformer_engine/common/recipe/__init__.py
Due: pylint

fix
  tests/pytorch/test_grouped_tensor.py
  transformer_engine/common/recipe/__init__.py
Due: pylint

Fix
  tests/pytorch/test_grouped_tensor.py
  transformer_engine/pytorch/module/grouped_linear.py
  transformer_engine/pytorch/tensor/storage/grouped_tensor.py
Due: pylint

Fixes
  tests/pytorch/test_grouped_tensor.py
  transformer_engine/pytorch/tensor/storage/grouped_tensor.py
Due: pylint

Check contiguous weights
  tests/pytorch/test_sanity.py
Due: none

C++ utils
  transformer_engine/common/include/transformer_engine/transformer_engine.h
  transformer_engine/pytorch/csrc/type_converters.cpp
Due: clang-format, cpplint

format
  transformer_engine/common/include/transformer_engine/transformer_engine.h
Due: clang-format, cpplint

changes for pytoch extension; but everything seems to be broken probably unrelated to my changes
  tests/pytorch/test_grouped_tensor.py
  transformer_engine/pytorch/csrc/extensions.h
  transformer_engine/pytorch/csrc/extensions/cast.cpp
  transformer_engine/pytorch/csrc/extensions/pybind.cpp
  transformer_engine/pytorch/csrc/pybind.h
  transformer_engine/pytorch/csrc/type_converters.cpp
  transformer_engine/pytorch/module/grouped_linear.py
Due: pylint, clang-format, cpplint

fix the issues
  tests/pytorch/test_grouped_tensor.py
  transformer_engine/common/include/transformer_engine/transformer_engine.h
  transformer_engine/pytorch/tensor/storage/grouped_tensor.py
Due: pylint, clang-format, cpplint

comment nvte API since Oleg's PR is not merged
  tests/pytorch/test_grouped_tensor.py
  transformer_engine/pytorch/csrc/extensions/cast.cpp
Due: clang-format, cpplint

test for all cases:
  tests/pytorch/test_grouped_tensor.py
Due: none

tensor attributes should be set later
  transformer_engine/pytorch/module/grouped_linear.py
Due: pylint

Output block amaxes
  transformer_engine/common/hadamard_transform/hadamard_transform.cu
  transformer_engine/common/include/transformer_engine/hadamard_transform.h
  transformer_engine/jax/csrc/extensions/amax.cpp
  transformer_engine/pytorch/csrc/common.h
  transformer_engine/pytorch/csrc/extensions.h
  transformer_engine/pytorch/csrc/extensions/cast.cpp
  transformer_engine/pytorch/csrc/extensions/pybind.cpp
  transformer_engine/pytorch/csrc/quantizer.cpp
  transformer_engine/pytorch/tensor/nvfp4_tensor.py
Due: pylint, clang-format, cpplint

output_per_block_amaxes
  tests/pytorch/test_per_block_pre_rht_amaxes.py
  transformer_engine/common/hadamard_transform/hadamard_transform.cu
  transformer_engine/common/include/transformer_engine/hadamard_transform.h
  transformer_engine/common/utils.cuh
  transformer_engine/jax/csrc/extensions/amax.cpp
  transformer_engine/pytorch/csrc/common.h
  transformer_engine/pytorch/csrc/extensions.h
  transformer_engine/pytorch/csrc/extensions/cast.cpp
  transformer_engine/pytorch/csrc/extensions/pybind.cpp
  transformer_engine/pytorch/csrc/quantizer.cpp
  transformer_engine/pytorch/tensor/nvfp4_tensor.py
Due: pylint, clang-format, cpplint

Make fixes to CI
  tests/pytorch/distributed/test_cast_master_weights_to_fp8.py
Due: none

Remove kernel; fix quantizer
  tests/cpp/operator/CMakeLists.txt
  tests/cpp/operator/test_cumsum.cu
  transformer_engine/common/common.cu
  transformer_engine/common/include/transformer_engine/transformer_engine.h
  transformer_engine/pytorch/csrc/extensions.h
  transformer_engine/pytorch/csrc/extensions/misc.cpp
  transformer_engine/pytorch/csrc/extensions/pybind.cpp
  transformer_engine/pytorch/csrc/quantizer.cpp
  transformer_engine/pytorch/module/grouped_linear.py
  transformer_engine/pytorch/tensor/grouped_tensor.py
  transformer_engine/pytorch/tensor/storage/grouped_tensor_storage.py
Due: pylint, clang-format, cpplint

code init
  tests/cpp/operator/test_grouped_gemm.cu
  transformer_engine/common/gemm/cublaslt_grouped_gemm.cu
  transformer_engine/common/include/transformer_engine/transformer_engine.h
  transformer_engine/common/transformer_engine.cpp
Due: clang-format, cpplint

fix
  tests/cpp/operator/test_grouped_gemm.cu
  transformer_engine/common/gemm/cublaslt_grouped_gemm.cu
Due: clang-format, cpplint
